body {
  font-size: 16px;
  color: #060606;
  background-color: #d6d5d5;
  font-family: 'Oxygen', sans-serif;
}


#header-nav {
  background-color: #535250;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-left: 15px ;
  padding-top: 25px;
  padding-bottom: 20px;
  height: auto;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #030303;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #050505;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
#collapsable-nav{
    
}
.navbar-nav > li{
    border-top:  1px solid #000;
    border-bottom:  1px solid #000;
    
    
}
.navbar-nav > li:last-child{
    border-bottom: none;
}
.navbar-nav > li:first-child{
    border-top: none;
}





.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.head{
    text-align: center;
    padding-bottom: 15px;
    padding-bottom: 25px;
}

.section {
    padding: 20px;          
    color: rgb(0, 0, 0);            
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box; 
   
    text-align: left;     
}
.section + .section{
    margin-left: 10px;
}
  
  
.section1 {
    background-color:  #818181;  
}
  
.section2 {
    background-color:  #818181;  
}
  
.section3 {
    background-color: #818181; 
}
.text{
    text-align: center;
    font-weight: bold;
}

.link{
    text-align: center;
}
.link a {
    color:#620728;
    
}

a:hover {
    text-decoration: none;
    color: #bbb803;
}









@media (min-width: 1200px) {
  .section{
    width: 32%;
  }
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  
  .section{
    width: 32%;
  }
  
}


@media (min-width: 768px) and (max-width: 991px) {
    .section{
        width: 49%;
        margin-bottom: 20px;
    }

    .section3{
        width: 98%;
    }

    
 
  
  
}


@media (max-width: 767px) {
  
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }

  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
  
   


  
  
  

  
  

  
  .section {
    margin-bottom: 20px;
  }
}



@media (max-width: 479px) {
  
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  

 
}